@model List<ResultAboutDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <div class="bs-example" data-example-id="bordered-table">
                    @if (Model.Count == 1)
                    {
                        <div class="alert alert-warning" role="alert">
                            Tema bütünlüğü için 1 adet hakkımda alanı yapmalısınız. Yeni alan için güncelleme yapın ya da silip tekrar oluşturun.
                        </div>
                    }
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Açıklama</th>
                                <th>Adres</th>
                                <th>Email</th>
                                <th>Telefon</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="text-align:left; vertical-align:middle;">@item.Description</td>
                                    <td style="text-align:left; vertical-align:middle;">@item.Address</td>
                                    <td style="text-align:left; vertical-align:middle;">@item.Email</td>
                                    <td style="text-align:left; vertical-align:middle;">@item.Phone</td>
                                    <td style="text-align:left; vertical-align:middle;"><a href="/Admin/About/DeleteAbout/@item.AboutId" class="btn btn-danger">Sil</a></td>
                                    <td style="text-align:left; vertical-align:middle;"><a href="/Admin/About/UpdateAbout/@item.AboutId" class="btn btn-success">Güncelle</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @if (Model.Count < 1)
                    {
                        <a href="/Admin/About/CreateAbout/" class="btn btn-primary">Hakkımda Oluştur</a>
                    }
                </div>
            </div>
        </div>
    </div>
</section>