@model UpdateFeatureDto

@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Öne Çıkan Alan Güncelleme Sayfası</h4>
                <br />
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <input type="hidden" asp-for="FeatureId" />
                        <label>Öne Çıkan Başlık</label>
                        <input type="text" asp-for="Title" class="form-control" />
                        <br />
                        <label>Ikon</label>
                        <input type="text" asp-for="Icon" class="form-control" />
                        <br />
                        <button class="btn btn-primary">Öne Çıkan Güncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>