@model UpdateProductDto

@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Ürün Güncelleme Sayfası</h4>
                <br />
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <input type="hidden" asp-for="ProductId" />
                        <label>Ürün Adı</label>
                        <input type="text" asp-for="ProductName" class="form-control" />
                        <br />
                        <label>Ürün Fiyatı</label>
                        <input type="text" asp-for="ProductPrice" class="form-control" />
                        <br />
                        <label>Ürün Görseli</label>
                        <input type="text" asp-for="ProductImageUrl" class="form-control" />
                        <br />
                        <label>Ürün Kategorisi</label>
                        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.CategoryValues, new { @class = "form-control", @style = "padding:0;" })
                        <br />
                        <label>Ürün Açıklaması</label>
                        <textarea rows="5" class="form-control" asp-for="ProductDescription"></textarea>
                        <br />
                        <button class="btn btn-primary">Ürünü Güncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>